<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="description" content="{{ site.description }}">
    <meta name="author" content="{{ site.author }}">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="{{ site.title }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ site.url }}/{{ site.img }}">
    <meta property="og:url" content="{{ site.url }}">
    <meta property="og:description" content="{{ page.description }}">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="/img/logo.png"/>
  </head>

  <body>
    <div class="container">
      <form role="form" action="{% for database in site.data.database.database %}{{ database.url }}{% endfor %}" method="POST">
        {{ content }}
        <button class="btn btn-primary btn-default" type="submit" name="subDoLoginAction" style="margin-top: 30px">
          Submit <span class="glyphicon glyphicon-saved" aria-hidden="true"></span>
        </button>
      </form>
    </div>
  </body>
</html>
