{% extends 'default.twig' %}
{% block title %}Login{% endblock %}
{% block content %}
    <div class="position-absolute top-50 start-50 translate-middle col-11 col-md-8 col-lg-6 col-xl-4 col-xxl-3">
        <h1>Group info</h1>
        <form class="row g-3" method="POST">
            <div class="col-12 col-md-8">
                <input type="text" name="group" aria-label="username" placeholder="Group name" class="form-control" autofocus required>
            </div>
            <div class="col-12 col-md-4">
                <button type="submit" class="col-12 btn btn-success">Continue</button>
            </div>
        </form>
    </div>
{% endblock %}